<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous'/>
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Todolist</title>
</head>
<body>
  <div id="app">

    <!--LOGO-->
    <div class="logo">
      <img src="img/logo.png" alt="logo Boolean">
    </div>

    <!--Input Area-->
    <div class="input-area">
      <input 
      v-model.trim="newTask" 
      @keyup.enter="addTask"
      type="text" placeholder="Nuovo compito da svolgere">

      <button @click="addTask">Aggiungi</button>

      <div>
        <span class="error">{{errorMessage}}</span>
      </div>

    </div>
    
    <div class="container">
      <!--Facciamo un controllo in modo che questo h2 compaia solo quando l'array todo è vuoto-->
      <h2 v-if="todo.length === 0">Non ci sono più compiti da svolgere!</h2>

      <!--Creo gli ul per la mia to do list-->
      <ul v-else class="todo-list">

        <li 
        v-for="(task,index) in todo" 
        :class="{'done': task.done}" 
        @click="task.done= !task.done"
        >
          <span>{{task.text}}</span>
          <!--Aggiungo il @click al cestino per eleminare le task svolte-->
          <i @click.stop="deleteTask(index)"
          class="fa-regular fa-trash-can"></i>

        </li>

      </ul>
    </div>

  </div>
  <script src="js/script.js"></script>
</body>
</html>