@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2{
  color: red;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo img{
  width: 200px;
}

.logo{
  text-align: center;
  margin: 20px;
}

.input-area{
  text-align: center;
}

.input-area input,
.input-area button{
  padding: 8px 15px;
  border-radius: 10px;
}

.input-area input{
  width: 300px;
  margin-right: 20px;
}

.container{
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #f5f7f7;
}

.todo-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
  list-style: none;
  border-bottom: 1px solid #d3d3d3;
  padding: 0 20px;
  cursor: pointer;
}

.todo-list li:hover{
  background-color: white;
}

.todo-list li i{
  color: gray;
}

.todo-list li i:hover{
  color: red;
}

/*Creo classe "done" per sbarrare le tasks svolte*/

.todo-list li.done span{
  text-decoration: line-through;
}


